h1{
    text-align: center;
    color: white;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    FONT-WEIGHT: 500;
    height: 550px;
    width: 50px;
    align-content: stretch;
    flex-wrap: wrap;
    flex-direction: row
}
    
button:hover {

    cursor:pointer;
}
.alert{
    display: none;
    width: 100%;
    height: 10px;
}
.true {
background: green;
    
}

.false{
    background: red;
}
div{
    text-align: center;
}

body {
    height: 100vh;
    background: linear-gradient(120deg,rgb(219, 195, 179), rgb(234, 168, 82));
    display: flex;
    align-items: center;
    justify-content: center;
}
.questao{

    background: linear-gradient(120deg, #3d3d3b92, #4227288f);
    padding: 1.5rem;
    border: 1px solid #ececec;
    border-radius: 5px;
    margin-bottom: 2rem;
    text-align: center;
    height: 300px;
    width: 250px;
   
}
.botao{

    text-align: center;
}
.pgt{
    height: 2.5em;
    width: 2em;

}
.wrapper{
    text-justify: center;
}